.container {
    width: min(90vw, 600px);
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.saludo {

    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;

}

.saludo_title {
    font-size: 24px;
    margin-bottom: 10px;
    color: black
}

.saludo_extra {
    color: black
}